* {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 40px;
}

body {
    overflow-x: auto;
}

p {
    color: green;
    text-align: center;
}

div {
    text-align: justify;
}

.red-text {
    color: red;
}

.no-wrap {
    white-space: nowrap;
}

#second-paragraph {
    font-style: italic;
    font-weight: bold;
}

.text-shadow {
    text-shadow: 5px -5px 3px #c08080;
}

.first-block {
    text-decoration: line-through;
    text-transform: uppercase;
    text-indent: 50px;
}

.second-block {
    letter-spacing: 30px;
    word-spacing: 50px;
}
