a {
    color: purple;
}

.main-link {
    color: green;
}

ul li ul {
    list-style-type: none;
}

.vegetables-submenu {
    list-style-image: url("img/check.svg");
}

.berries-submenu {
    list-style-type: square;
}

.berries-submenu a {
    text-decoration: none;
}

ol {
    list-style-position: inside;
}

